@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: text !important;
}

::selection {
  color: white;
  background-color: #d84c4c;
}

.menu:hover~.bg {
  visibility: visible;
  opacity: 100;
}